.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.sidebar {
  left: 0;
  top: 0;
  position: fixed;
  width: 14%;
  background: white;
  transition: all 0.5s ease;
  height: 100vh;
  border-right: 1px solid rgb(165 110 110 / 12%);
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  padding: 10px 0px;
  transition: all 0.4s ease;
  margin: 20px 33px;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer !important;
}

.sidebar .nav-links li a img {
  width: 17px;
  margin-right: 20px;
}

.sidebar .nav-links li a .link_name {
  font-size: 14px;
  text-align: left;
  transition: all 0.4s ease;
  color: #B8B9BC;
}

.sidebar.closed {
  width: 6%;
}

// iniatially  blue color logo hidden for large screen
.sidebar .blue-logo {
  display: none;
}

// iniatially  graey color logo visible for large screen
.sidebar .grey-logo {
  display: block;
}
.sidebar.closed .line {
  margin: auto;
  width: 39px;
  text-align: center;
}

.sidebar.closed .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
 
}
.sidebar.closed .arrow-img {
    transform: rotate(180deg);
   
}
.line {
  margin: auto;
  width: 60%;
  border-top: 1px solid #fffcfc;
}
//======selected menu=======//
.selected  .link_name{
  color:blue !important;  
  font-weight: 600;
}
.selected .blue-logo {
  display: block;
}
.selected .grey-logo {
  display: none}

.selected {
  border-right: 3px solid blue;
  margin-right: -2px;
}
//=========================//
.arrow-img {
  width: 17px;
  position: absolute;
  bottom: 30px;
  left: 20px;
  cursor: pointer !important;
  transition: 0.5s;
}


