<div class="container">
    <div class="sidebar">
        <ul class="nav-links" *ngFor="let menu of menus;let i=index"   [class.selected]="menu ==selectedMenu" (click)="onSelect(menu)">
            <li>
                <a >
                    <img [src]="menu.icon" class="grey-logo">
                    <img [src]="menu.blue_icon" class="blue-logo">
                    <span class="link_name">{{menu.displayName}}</span>
                </a>
            </li>
          </ul>
        <img src="assets/arrow.png" alt="" class="arrow-img arrow">
    </div>
</div>

         



