<div class="container">
    <div class="sidebar">
        <ul class="nav-links">
            <li>
                <a class="active">
                    <img src="assets/home.png" class="grey-logo">
                    <img src="assets/home_blue.png" class="blue-logo">
                    <span class="link_name">Home</span>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/plans.png" class="grey-logo">
                    <img src="assets/plans_blue.png" class="blue-logo">
                    <span class="link_name">Scheduler</span>
                </a>
            </li>


            <li>
                <a>
                    <img src="assets/edit.png" class="grey-logo">
                    <img src="assets/edit_blue.png" class="blue-logo">
                    <span class="link_name">Notes</span>
                </a>
            </li>
            <hr class="line">
            <li>
                <a>
                    <img src="assets/apps.png" class="grey-logo">
                    <img src="assets/apps_blue.png" class="blue-logo">
                    <span class="link_name">Functions</span>
                </a>
            </li>

            <li>
                <a>
                    <img src="assets/account.png" class="grey-logo">
                    <img src="assets/account_blue.png" class="blue-logo">
                    <span class="link_name">Account</span>
                </a>
            </li>


        </ul>
        <img src="assets/arrow.png" alt="" class="arrow-img arrow">
    </div>




</div>